# exlcude build folder
build/
# exclude bin folder
bin/
# exclude build dependent files for dashboard
dashboard/dist/
dashboard/node_modules/
node_modules/
# exclude dot files
# .project
# .classpath
# .vscode/
# .settings/
# .gradle/
